*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
    color: rgb(43 52 66);
    background-color:  rgb(246 248 255);
}

@media (max-width: 1024px) {
    .body {
        font-size: 12px;
    }
}

.wrapper {
    height: 100%;
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 24px;
}


.header {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}

@media (max-width: 1024px) {
    .header {
        margin-top: 30px;
    }
}

.header__menu {

}

.menu__list {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin-left: 24px;
}

@media (max-width: 1024px) {
    .menu__list {
        flex-direction: column;
    }
    .menu__item {
        margin-left: 0;
        margin-top: 6px;
        font-size: 12px;
    }
}

.menu__item:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.menu__link {
    font-weight: bold;
    color: #4B6A9B;
}


.main {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid #4B6A9B;
}

@media (max-width: 1024px) {
    .section-title {
        font-size: 18px;
        border-width: 2px;
    }
}

.name-and-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.name-and-position__title {
    margin-left: 48px;
    font-size: 32px;
    font-weight: bold;
}

.name-and-position__title h2 {
    font-size: 24px;
    font-weight: bold;
}

.name-and-position__image {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .name-and-position__title {
        margin-left: 12px;
        font-size: 18px;
        font-weight: bold;
    }

    .name-and-position__title h2 {
        font-size: 14px;
    }

    .name-and-position__image {
        max-width: 75px;
        max-height: 75px;
    }
}


.contacts {
    margin-top: 48px;
}

.contacts__list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 24px 24px 24px 24px;
    border-radius: 15px;
    background-color: rgb(246 248 255);
}

.contacts__item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.contacts__link {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit
}

@media (max-width: 1024px) {
    .contacts {
        margin-top: 24px
    }
    .contacts__list  {
        display: flex;
        flex-direction: column;
    }

    .contacts__item {
        width: 100%;
        font-size: 12px;
    }
}

.contacts__link:hover {
    text-decoration: underline;
}

.about-me {
    margin-top: 48px;
}

.about-me__title {}

.about-me__body {
    margin-top: 24px;
}

@media (max-width: 1024px) {
    .about-me {
        margin-top: 24px;
    }
    .about-me {
        font-size: 12px;
    }
}

.skills {
    margin-top: 48px;
}

.skills__title {}

.skills__list {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.skills__item {
    padding: 8px 16px;
    background-color: #4B6A9B;
    border-radius: 5px;
    color: #fff;
}

@media (max-width: 1024px) {
    .skills {
        margin-top: 24px;
    }

    .skills__item {
        padding: 6px 10px;
        font-size: 12px;
    }
}

.code-example {
    margin-top: 88px;
}

.code-example__title {}

.code-example pre {
    margin-top: 24px;
    padding: 24px 24px;
    background-color: rgb(246 248 255);
}

@media (max-width: 1024px) {
    .code-example {
        margin-top: 56px;
    }

    .code-example pre {
        font-size: 10px;
    }
}

.exp {
    margin-top: 48px;
}

.exp__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 68px
}

.exp__item {
    max-height: 200px;
    padding-right: 12px;
    box-shadow: 0px 16px 30px -10px rgba(70,96,187,.199);
}

.exp__item:nth-child(even) {
    place-self: self-end;
}

@media (max-width: 1024px) {
    .exp {
        margin-top: 24px;
    }

    .exp__list {
        margin-top: 12px;
        gap: 48px;
    }

    .exp__item {
        max-height: none;
        padding: 0;
    }
}

.item-exp__body {
    display: flex;
    gap: 24px;
}

.item-exp__image {
    width: 300px;
    height: 200px;
}

.item-exp__content {
    padding: 12px;
}

.item-exp__title {
    font-size: 22px;
    font-weight: bold;
}

.item-exp__list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.item-exp__item {
    padding: 4px 8px;
    background-color: #4B6A9B;
    border-radius: 5px;
    color: #fff;
}

.item-exp__links {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.item-exp__link {
    font-weight: bold;
    color: #4B6A9B;
}

.item-exp__link:hover {
    transform: translateX(5px);
    transition: 200ms linear;
}

@media (max-width: 1024px) {
    .item-exp__body {
        flex-direction: column;
    }

    .item-exp__image {
        width: 100%;
        height: auto;
    }

    .item-exp__title {
        font-size: 18px;
    }

    .item-exp__list {
        margin-top: 8px;
        gap: 8px
    }

    .item-exp__item {
        font-size: 12px;
    }

    .item-exp__links {
        font-size: 12px;
    }

}

.education {
    margin-top: 48px;
}

.education__list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.education__item {
    font-weight: bold;
}

.item-education__period {
    font-weight: 400;
}

@media (max-width: 1024px) {
    .education {
        margin-top: 24px;
    }

    .education__list {
        margin-top: 12px;
    }

    .education__item {
        font-size: 12px;
    }
}

.lang {
    margin-top: 48px;
}

.lang__list {
    margin-top: 24px;
}

.lang__item {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .lang {
        margin-top: 24px;
    }

    .lang__list {
        margin-top: 12px;
        font-size: 12px;
    }
}

.footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 35px;
    background-color: #fff;
}

.footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 24px;
}

.footer__logo {
    width: 100px;
}

.footer__time {
    place-self: flex-end;
    padding-bottom: 12px;
}

.footer__author {
    display: flex;
    align-items: center;
    gap: 20px
}

.foooter__link {
    color: #4B6A9B;
}

@media (max-width: 1024px) {
    .footer {
        font-size: 12px;
    }

    .footer__container {
        width: 100%;
    }
    .footer__logo {
        width: 50px;
    }

    .footer__time {
        position: absolute;
    }
}
