*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
    color: rgb(43 52 66);
    background-color:  rgb(246 248 255);
}


.wrapper {
    height: 100%;
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}

.header__menu {

}

.menu__list {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin-left: 24px;
}

.menu__item:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.menu__link {
    font-weight: bold;
    color: #4B6A9B;
}


.main {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid #4B6A9B;
}

.name-and-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.name-and-position__title {
    margin-left: 48px;
    font-size: 32px;
    font-weight: bold;
}

.name-and-position__title h2 {
    font-size: 24px;
    font-weight: bold;
}

.name-and-position__image {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
}

.contacts {
    margin-top: 48px;
}

.contacts__list {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 24px 24px 24px 24px;
    border-radius: 15px;
    background-color: rgb(246 248 255);
}

.contacts__item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.contacts__link {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit
}

.contacts__link:hover {
    text-decoration: underline;
}

.about-me {
    margin-top: 48px;
}

.about-me__title {}

.about-me__body {
    margin-top: 24px;
}

.skills {
    margin-top: 48px;
}

.skills__title {}

.skills__list {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.skills__item {
    padding: 8px 16px;
    background-color: #4B6A9B;
    border-radius: 5px;
    color: #fff;
}

.code-example {
    margin-top: 88px;
}

.code-example__title {}

.code-example pre {
    margin-top: 24px;
    padding: 24px 24px;
    background-color: rgb(20 29 47);
    color: #fff;
}

.exp {
    margin-top: 48px;
}

.exp__list {
    margin-top: 24px;
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 68px
}

.exp__item {
    max-height: 200px;
    padding-right: 12px;
    box-shadow: 0px 16px 30px -10px rgba(70,96,187,.199);
}

.exp__item:nth-child(even) {
    place-self: self-end;
}

.item-exp__body {
    display: flex;
    gap: 24px;
}

.item-exp__image {
    width: 300px;
    height: 200px;
}

.item-exp__content {
    padding: 12px;
}

.item-exp__title {
    font-size: 22px;
    font-weight: bold;
}

.item-exp__list {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.item-exp__item {
    padding: 4px 8px;
    background-color: #4B6A9B;
    border-radius: 5px;
    color: #fff;
}

.item-exp__links {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.item-exp__link {
    font-weight: bold;
    color: #4B6A9B;
}

.item-exp__link:hover {
    transform: translateX(5px);
    transition: 200ms linear;
}
