*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}


body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.48;
    color: rgb(43 52 66);
    background-color:  rgb(246 248 255);
}


.wrapper {
    height: 100%;
    width: 100%;
    max-width: 976px;
    margin: 0 auto;
    padding: 0 24px;
}

.header {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}

.header__menu {

}

.menu__list {
    display: flex;
    justify-content: flex-end;
}

.menu__item {
    margin-left: 24px;
}

.menu__item:hover {
    transform: scale(1.1);
    transition: 200ms linear;
}

.menu__link {
    font-weight: bold;
    color: #4B6A9B;
}


.main {
    margin-top: 35px;
    padding: 16px 24px;
    background-color: #fff;
    border-radius: 15px;
}


.name-and-position {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.name-and-position__title {
    margin-left: 48px;
    font-size: 24px;
    font-weight: bold;
}

.name-and-position__title h2 {
    font-size: 20px;
    font-weight: bold;
}

.name-and-position__image {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
}

.contacts {
    margin-top: 48px;
}

.contacts__list {
    width: fit-content;
    padding: 24px 96px 24px 24px;
    border-radius: 15px;
    background-color: rgb(246 248 255);
}

.contacts-list__item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
}

.contacts-list__link {
    color: inherit
}

.contacts-list__link:hover {
    text-decoration: underline;
}
